body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

label {
    font-size: 20px;
    color: darkcyan;
    width: 150px;
    display: inline-block;
}

textarea {
    font-size: 20px;
}

li {
    list-style-type: none;
}

img {
    width: 300px;
    height: auto;
}

h2{
    color:purple;
    font-family:Algerian;
}

.para {
    margin-left:40px;
    margin-right:40px;
}

h1{
    text-align:center;
}
